@charset "utf-8";
/* CSS Document */
body{
margin: 0px;
font-family:'FFDIN Regular','FFDIN',Arial,sans-serif;
}
a{text-decoration: none;}
.ust_serit_menu{
with: 100%;
height: 42px;
background-color:#ae946d;
padding: 0px center;

}
.ust_serit_menu_yazi_1{
font-family: 'FFDIN Regular','FFDIN',Arial,sans-serif;
font-size: 14px;
color:#FFFFFF;
height: 23px;
text-align: center;
padding-top: 12px;
	
}
.ust_serit_menu_yazi_2{
font-family: 'FFDIN Regular','FFDIN',Arial,sans-serif;
font-size: 14px;
color:#ffffff;
height: 23px;
text-align: center;
text-decoration: underline;
}
.hizalama_bitir{
clear: both;
}
.alt_drop_menu{
background-color:#181818;
width: 100%;
height: 70px;
}
.alt_drop_menu_resim_dis_div{
width: 50px;
height: 50px;
margin-left: 40px;
float: left;
}
.alt_drop_menu_resim{
background-image: url("../img/puma_logo_44_35.png");
background-repeat: no-repeat;
background-position: left;
height: 45px;
width: 45px;
margin-right: 12px;
padding-right: 27px;
float: left;
margin-top: 13px;
}
.alt_drop_menu_yazilar_dis_div{
width: 490px;
height: 30px;
float: left;
margin-top: 20px;
margin-left: 32px;
}
.alt_drop_menu_yazilar{
font-size: 15px;
font-family: 'FFDIN Regular','FFDIN',Arial,sans-serif;
color: #fff;
float: left;
margin-left: 40px;
margin-top: 4px;
}
.alt_drop_menu_yazilar:hover{
border-bottom: 3px solid #ae946d;
}
.arama_blok_en_dis_div{
height:68px;
width: 370px;
float: right;
}
.arama_blok_dis_div{
height:65px;
width: 220px;
float: left;
}
.arama_blok{
border: 1px solid #393939;
border-radius: 2px;
font-size: 14px;
width: 215px;
height: 40px;
margin-top: 10px;
}
.arama_sol{
float: left;
padding-top: 4px;
padding-left: 4px;
}
.arama_sag{
float: left;
}
.arama_text{
border:0px;
height:34px;
background-image:url("../img/arama_butonu 18_18.png");
background-repeat:no-repeat;
background-position:10px center; 
width:165px;
padding-left:40px;
color:#ffffe8;
font-size:13px; 
background-color: #181818;
}
.alt_drop_menu_sag_dis_div{
width: 120px;
height: 65px;
float: left;
}
.alt_drop_menu_sepet_resim{
background-image: url("../img/sepet_logo_2.png");
background-repeat: no-repeat;
background-position: right;
height: 25px;
width: 25px;
float: right;
padding-top: 37px;
margin-right: 16px;
}
.alt_drop_menu_sepet_resim:hover{
background-image: url("../img/sepet_logo_hover.png");
}
.alt_drop_menu_kullanici_resim{
background-image: url("../img/kullanıcı_logo_4.png");
background-repeat: no-repeat;
background-position: right;
height: 24px;
width: 37px;
float: right;
margin-right: 17px;
margin-top: 20px;
}
.alt_drop_menu_kullanici_resim:hover{
background-image: url("../img/kullanıcı_logo_hover.png");
}
.sayfa_yollari_blok
{
width: 1440px;
height: 60px;
float: right;
}
.sayfa_yollari_ana_sayfa_blok
{
width: 94px;
height: 60px;
float: left;
}
.sayfa_yollari_ana_sayfa
{
width: 61px;
height: 14px;
font-size: 13px;
color: #000000;
margin-top: 20px;
float: left;
}
.sayfa_yollari_ana_sayfa:hover
{
color: red;
}
.sayfa_yollari_yon_resmi
{
width: 10px;
height: 10px;
background-image: url("../kadin_img/Başlıksız-2 kopya2.png");
background-repeat: no-repeat;
float: right;
margin-top: 23px;
margin-right: 7px;
}
.sayfa_yollari_kadin_blok
{
width: 70px;
height: 60px;
float: left;
}
.sayfa_yollari_kadin
{
width: 36px;
height: 14px;
color: #929292;
margin-top: 20px;
margin-left: 3px;
font-size: 13px;
}
.site_govde
{
width: 1230px;
height: 2000px;
margin: auto;
/*border: 1px solid #000000;*/
margin-top: 45px;
}
.kadin_urunleri_blok
{
width: 1180px;
height: 29px;
margin: auto;
float: left;
}
.kadin_urunleri
{
width: 243px;
height: 29px;
float: left;
font-size: 28px;
color: #000000;
font-weight: bold;
margin-left: 25px;
}
.erkek_urunleri
{
width: 260px;
height: 29px;
float: left;
font-size: 28px;
color: #000000;
font-weight: bold;
margin-left: 25px;
}
.urun_sayisi_blok
{
width: 110px;
height: 22px;	
float: left;
}
.urun_sayisi_1
{
width: 33px;
height: 21px;
color: #bdbebd;
font-size: 17px;
float: left;
margin-left: 10px;
margin-top: 4px;
}
.urun_sayisi_2
{
width: 49px;
height: 17px;
color: #bdbebd;
font-size: 17px;
float: left;
margin-top: 4px;
}
.site_govde_en_ust_paragraf
{
width: 1180px;
height: 53px;
color: #000;
font-size: 14px;
margin: auto;
margin-top: 5px;
}
.site_govde_urunler
{
width: 1180px;
height: 1900px;
margin: auto;
/*border: 1px solid #000;*/
margin-top: 25px;
}
.sol_filtrelemeler_blok
{
width: 230px;
height: 1275px;
float: left;
border-top: 2px solid #bdbebd;
margin-top: 15px;
}
.sag_urunler_blok
{
width: 940px;
height: 1900px;
float: left;
/*border: 1px solid #0018FD;*/
}
.one_cikan_urunler
{
width: 940px;
height: 32px;
margin: auto;
text-align: center;
font-size: 24px;
font-weight: bold;
float: right;
}
.sol_filtrelemeler_katagori_blok
{
width: 220px;
height: 242px;
}
.sol_filtrelemeler_katagori_cocuk_blok
{
width: 220px;
height: 194px;
}
.sol_filtrelemeler_katagori_yazilar_blok
{
width: 220px;
height: 37px;
}
.sol_filtrelemeler_katagori_yazilar_1
{
width: 170px;
height: 38px;
color: #000000;
font-size: 16px;
font-weight: bold;
margin-top: 10px;
border-bottom: 1px solid #bdbebd;
float: left;
}
.sol_filtrelemeler_katagori_yazilar
{
width:170px;
height: 34px;
color: #000000;
font-size: 16px;
font-weight: bold;
border-bottom: 1px solid #bdbebd;
margin-top: 15px;
float: left;
}
.sol_filtrelemeler_katagori_yazilar_2
{
width: 170px;
height: 35px;
color: #000000;
font-size: 16px;
font-weight: bold;
margin-top: 10px;
float: left;
}
.sol_filtrelemeler_katagori_arti_blok
{
width: 50px;
height: 38px;
margin-top: 10px;
border-bottom: 1px solid #bdbebd;
float: left;
}
.sol_filtrelemeler_katagori_arti
{
width: 20px;
height: 20px;
color:#D1D1D1;
font-size: 24px;
margin-left: 28px;
font-family: 'FFDIN Regular','FFDIN',Arial,sans-serif;
}
.sol_filtrelemeler_katagori_arti_blok_1
{
width: 50px;
height: 39px;
margin-top: 10px;
border-bottom: 1px solid #D1D1D1;
float: left;
}
.sol_filtrelemeler_katagori_arti_blok_2
{
width: 50px;
height: 39px;
margin-top: 10px;
float: left;
}

.sol_blok_filtreler_yazi
{
width: 220px;
height: 40px;
color: #000000;
font-size: 28px;
font-weight: bold;
margin-top: 15px;
margin-bottom: 35px;
}
.filtreleme_ayarlari_blok
{
width: 220px;
height: 936px;
border-top: 1px solid #bdbebd;
}
.renkler_blok
{
width: 220px;
height: 197px;
border-bottom: 1px solid #bdbebd;
}
.renkler_ana_blok
{
width: 220px;
height: 48px;
}
.renkler_yazi_1
{
width: 170px;
height: 20px;
color: #000000;
font-size: 16px;
font-weight: bold;
float: left;
margin-top: 10px;
}
.renkler_yazi_eksi_blok
{
width: 50px;
height: 48px;
float: right;
}
.renkler_yazi_eksi
{
width: 13px;
height: 20px;
border-bottom: 1px solid #000000;
margin-left: 30px;
}
.renkli_kareler_ic_blok_1
{
width: 31.66px;
height: 33.66px;
float: left;
margin-right: 5px;
}
.renkli_kareler_ic_blok_2
{
width: 31.66px;
height: 33.66px;
float: left;
margin-right: 5px;
}
.renkli_kareler_ana_blok
{
width: 220px;
height: 137px;
float: left;
}
.renkli_kareler_1
{
width: 31.66px;
height: 31.66px;
float: left;
background-color: #f5f5dc;
background-repeat: no-repeat;
}
.renkli_kareler_1:hover
{
border-bottom: 3px solid #FF0000;
}
.renkli_kareler_2
{
width: 31.66px;
height: 31.66px;
float: left;
background-color: #ffffff;
background-repeat: no-repeat;
}
.renkli_kareler_2:hover
{
border-bottom: 3px solid #FF0000;
}
.renkli_kareler_3
{
width: 31.66px;
height: 31.66px;
float: left;
background-color: #d123d1;
background-repeat: no-repeat;
}
.renkli_kareler_3:hover
{
border-bottom: 3px solid #FF0000;
}
.renkli_kareler_4
{
width: 31.66px;
height: 31.66px;
float: left;
background-color: #bfbfbf;
background-repeat: no-repeat;
}
.renkli_kareler_4:hover
{
border-bottom: 3px solid #FF0000;
}
.renkli_kareler_5
{
width: 31.66px;
height: 31.66px;
float: left;
background-color: #a52a2a;
background-repeat: no-repeat;
}
.renkli_kareler_5:hover
{
border-bottom: 3px solid #FF0000;
}
.renkli_kareler_6
{
width: 31.66px;
height: 31.66px;
float: left;
background-color: #ff0000;
background-repeat: no-repeat;
}
.renkli_kareler_6:hover
{
border-bottom: 3px solid #FF0000;
}
.renkli_kareler_7
{
width: 31.66px;
height: 31.66px;
float: left;
background-color: #0000ff;
background-repeat: no-repeat;
margin-top: 8px;
}
.renkli_kareler_7:hover
{
border-bottom: 3px solid #FF0000;
}
.renkli_kareler_8
{
width: 31.66px;
height: 31.66px;
float: left;
background-color: #a39ea3;
background-repeat: no-repeat;
margin-top: 8px;
}
.renkli_kareler_8:hover
{
border-bottom: 3px solid #FF0000;
}
.renkli_kareler_9
{
width: 31.66px;
height: 31.66px;
float: left;
background-color: #800080;
background-repeat: no-repeat;
margin-top: 8px;
}
.renkli_kareler_9:hover
{
border-bottom: 3px solid #FF0000;
}
.renkli_kareler_10
{
width: 31.66px;
height: 31.66px;
float: left;
background-color: #ffc0cb;
background-repeat: no-repeat;
margin-top: 8px;
}
.renkli_kareler_10:hover
{
border-bottom: 3px solid #FF0000;
}
.renkli_kareler_11
{
width: 31.66px;
height: 31.66px;
float: left;
background-color: #ffff00;
background-repeat: no-repeat;
margin-top: 8px;
}
.renkli_kareler_11:hover
{
border-bottom: 3px solid #FF0000;
}
.renkli_kareler_12
{
width: 31.66px;
height: 31.66px;
float: left;
background-color: #000000;
background-repeat: no-repeat;
margin-top: 8px;
}
.renkli_kareler_12:hover
{
border-bottom: 3px solid #FF0000;
}
.renkli_kareler_13
{
width: 31.66px;
height: 31.66px;
float: left;
background-color: #ffa600;
background-repeat: no-repeat;
margin-top: 8px;
}
.renkli_kareler_13:hover
{
border-bottom: 3px solid #FF0000;
}
.renkli_kareler_14
{
width: 31.66px;
height: 31.66px;
float: left;
background-color: #00ff00;
background-repeat: no-repeat;
margin-top: 8px;
}
.renkli_kareler_14:hover
{
border-bottom: 3px solid #FF0000;
}
.fiyat_araligi_blok
{
width: 220px;
height: 121.5px;
padding-top: 15px;
border-bottom: 1px solid #bdbebd;
}
.fiyat_araligi__cubuk_blok
{
width: 220px;
height: 16px;
}
.fiyat_araligi_cubuk_kisa_dortgen
{
width: 4px;
height: 16px;
background-color: #000000;
float: left;
}
.fiyat_araligi_uzun_cubuk
{
width: 212px;
height: 4px;
float: left;
background-color: #efefef;
margin-top: 6px;
}
.fiyat_araligi_kutular_blok
{
width: 220px;
height: 33px;
margin-top: 10px;
}
.fiyat_araligi_kutu
{
width: 98px;
height: 32px;
float: left;
border: 1px solid #eee;
}
.fiyat_araligi_kutu_yazi
{
width: 98px;
height: 20px;
float: left;
color: #000000;
font-size: 15px;
font-weight: bold;
text-align: center 0px;
margin-top: 5px;
margin-left: 7px;
}
.fiyat_araligi_kutu_cizgi
{
width: 17.6px;
height: 33px;
color: #eee;
font-size: 24px;
float: left;
text-align: center;
}
.urun_grubu_blogu
{
width: 220px;
height: 132.5px;
border-bottom: 1px solid #bdbebd;
}
.urun_grubu_katagori_blok
{
width: 220px;
height: 59px;
}
.urun_grubu_katagori_yazi_blok
{
width: 220px;
height: 17.7px;
}
.urun_grubu_katagori_yazilar
{
width: 60px;
height: 17.6px;
float: left;
color:#000000;
font-size: 14px;
}
.urun_grubu_katagori_yazilar:hover
{
color: red;
}
.bedenler_blok
{
width: 220px;
height: 471px;
}
.beden_olculeri_blok
{
width: 220px;
height: 442px;
}
.beden_olculeri_blok_ic
{
width: 220px;
height: 415px;
border-left: 1px solid #bdbebd;
border-top: 1px solid #bdbebd;
}
.bedenler_kutular_blok
{
width: 43px;
height: 45px;
float: left;
border-right: 1px solid #bdbebd;
border-bottom: 1px solid #bdbebd;
}
.bedenler_kutular_blok:hover
{
background-color: #bdbebd;
}
.bedenler_kutular_yazi_blok
{
width: 42.8px;
height: 43px;
}
.bedenler_kutular_yazi_blok:hover
{
border-bottom: 3px solid #FF0000;
}
.bedenler_kutular_yazi
{
width: 42px;
height: 15px;
text-align: center;
color: #000000;
font-size: 12px;
padding-top: 14px;
}
.bedenler_kutular_yazi:hover
{
font-weight: bold;
}
.sag_urunler_ust_one_cikanlar
{
width: 940px;
height: 270px;
margin-top: 10px;
}
.one_cikan_urunler_blok
{
width: 216px;
height: 260px;
float: left;
margin-top: 11px;
margin-left: 17px;
}
.indirim_yuzdesi
{
width: 33px;
height: 21px;
background-color: #FF0000;
float: left;
}
.indirim_yuzdesi_yazi
{
width: 23px;
height: 12px;
font-size: 12px;
font-weight: bold;
margin-left: 4px;
margin-top: 3px;
color: #FFFFFF;
}
.one_cikan_urunler_sol_yon
{
width: 36px;
height: 36px;
background-image: url("../img/sol_yon_2.png");
background-repeat: no-repeat;
float: left;
margin-top: 72px;
}
.one_cikan_urunler_resim_blogu
{
width: 216px;
height: 171px;
float: left;
border-bottom: 1px solid #e1e1e1;
}
.one_cikan_urunler_resim_sol_yon
{
width: 150px;
height: 150px;
float: left;
}
.one_cika_urunler_urun_ismi
{
width: 216px;
height: 23px;
text-align: center;
font-size: 14px;
color: #222222;
margin-top: 15px;
}
.one_cikan_urunler_fiyat_blok
{
width: 216px;
height: 18px;
margin-top: 30px;
}
.one_cikan_urunler_fiyat
{
width: 70px;
height: 14.5px;
color: #222;
font-size: 15px;
font-weight: bold;
margin-left: 75px;
}
.one_cikan_urunler_resim
{
width: 150px;
height: 150px;
margin: auto;
}
.one_cikan_urunler_sag_yon
{
width: 36px;
height: 36px;
background-image: url("../img/sag_yon.png");
background-repeat: no-repeat;
background-position: right;
float: right;
margin-top: 72px;
}
.one_cikan_urunler_resim_sag_yon
{
width: 150px;
height: 150px;
float: right;
margin: auto;
}
.one_cikan_urunler_indirimli_fiyat
{
width: 70px;
height: 14.5px;
color: #222;
font-size: 15px;
font-weight: bold;
margin-left: 55px;
float:left;
}
.indirimli_fiyat
{
width: 55px;
height: 12px;
font-size: 12px;
color: #222;
float: left;
text-decoration: line-through;
text-decoration-color: #FF0000;
margin-top: 2px;
}
.siralama_ana_blok
{
width: 940px;
height: 74.5px;
border-bottom: 2px solid #000000;
}
.siralama_blok
{
width: 940px;
height: 40.5px;
}
.siralama_yazi
{
width: 53px;
height: 12.5px;
font-size: 12px;
color: #000000;
padding-top: 25px;
padding-left: 10px;
float: left;
}
.siralama_butonlar_blok
{
width: 670px;
height: 40.5px;
float: left;
margin-left: 20px;
margin-top:17px;
}
.siralama_buton_1
{
width: 134px;
height: 32px;
background-color: #000000;
float: left;
border-right: 1px solid #FFFFFF;
}
.siralama_buton_yazi
{
width: 135px;
height: 32px;
color: #FFFFFF;
font-size: 12px;
margin-top: 8px;
margin-left: 15px;
}
.siralama_buton_1_1
{
width: 25px;
height: 32px;
float: left;
background-color: #000000;
background-image: url("../kadin_img/x.png");
background-repeat: no-repeat;
background-position: center;
}
.siralama_buton_1_1:hover
{
background-color: #FFFFFF;
background-image: url("../kadin_img/x_hover.png");
border-right: 1px solid #000000;
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
height: 30px;
}
.siralama_buton_2_3
{
width: 99px;
height: 30px;
border: 1px solid #000000;
float: left;
margin-left: 5px;
}
.siralama_buton_yazi_2_3
{
width: 78px;
height: 20px;
color: #000000;
font-size: 12px;
margin-top: 8px;
margin-left: 15px;
}
.siralama_buton_2_3:hover
{
background-color: #000000;
}
.siralama_buton_yazi_2_3:hover
{
color: #FFFFFF;
}
.siralama_buton_4_5
{
width: 87px;
height: 30px;
border: 1px solid #000000;
float: left;
margin-left: 5px;
}
.siralama_buton_yazi_4_5
{
width: 78px;
height: 20px;
font-size: 12px;
color: #000000;
margin-top: 8px;
margin-left: 15px;
}
.siralama_buton_4_5:hover
{
background-color: #000000;
}
.siralama_buton_yazi_4_5:hover
{
color: #FFFFFF;
}
.urunler_ana_blok
{
width: 940px;
height: 1250px;
margin-top: 20px;
}
.urunler_blok
{
width: 228px;
height: 395px;
float: left;
margin-bottom: 5px;
margin-right: 4px;
border: 1px solid  #fff;
}
.urunler_blok:hover
{
border: 1px solid  #e1e1e1;
}
.urunler_ic_blok
{
width: 220px;
height: 357px;
margin-left: 8px;
margin-top: 20px;
}
.urunler_resim_blok
{
width: 220px;
height: 221px;
border-bottom: 1px solid  #e1e1e1;
}
.urunler_renkler_blok
{
width: 220px;
height: 35px;
margin-top: 15px;
}
.urunler_renkler_cerceve
{
width: 33px;
height: 35px;
margin: auto;
border: 1px solid #fff;
}
.urunler_renkler_cerceve:hover
{
border: 1px solid #e1e1e1;
width: 33px;
height: 33px;
}
.urunler_renkler
{
width: 25px;
height: 25px;
margin: auto;
margin-top: 4px;
}
.urunler_yazilar_blok
{
width: 176px;
height: 81px;
}
.urunler_yazi_blok
{
width: 176px;
height: 56px;
}
.urunler_yazi
{
width: 157px;
height: 51px;
color: #000000;
font-size: 14px;
text-align: center;
margin: auto;
margin-left: 30px;
}
.urunler_fiyat_blok
{
width: 176px;
height: 18.5px;
}
.urunler_fiyat
{
width: 80px;
height: 14.5px;
color: #222;
font-size: 15px;
font-weight: bold;
margin-top: 8px;
margin-left: 80px;
}
.urunler_indirimli_fiyat
{
width: 75px;
height: 14.5px;
color: #222;
font-size: 15px;
font-weight: bold;
margin-left: 40px;
margin-top: 8px;
float:left;
}
.urunler_indirimsiz_fiyat
{
width: 60px;
height: 12px;
font-size: 12px;
color: #222;
float: left;
text-decoration: line-through;
text-decoration-color: #FF0000;
margin-top: 10px;
}
.urunler_alt_butonlar_blok
{
width: 940px;
height: 47.5px;
margin-top: 25px;
}
.urunler_alt_butonlar_1
{
width: 275px;
height: 32.4px;
border: 1px solid #ff0000;
float: left;
margin-left: 190px;
color: #ff0000;
text-align: center;
font-weight: bold;
font-size: 15px;
padding-top: 14px;
}
.urunler_alt_butonlar_1:hover
{
color: #FFFFFF;
background-color: #cc0000;
}
.urunler_alt_butonlar_2
{
width: 277px;
height: 34.4px;
background-color: #ff0000;
float: left;
margin-left: 22px;
color: #FFFFFF;
text-align: center;
font-weight: bold;
font-size: 15px;
padding-top: 14px;
}
.urunler_alt_butonlar_2:hover
{
background-color: #cc0000;
}
.en_son_gezilenler_blok
{
width: 940px;
height: 392px;
margin-top: 40px;
}
.son_gezdiklerin_blok
{
width: 930px;
height: 32px;
margin-top: 20px;
margin-bottom: 20px;
text-align: center;
font-size: 24px;
font-weight: bold;
color: #000000;
padding-left: 10px;
}
.footer_ana_blok
{
width: 100%;
height: 630px;
background-color: #181818;
}

.footer_logo
{
width: 40px;
height: 30px;
float: left;
background-image: url("../img/puma_logo_footer.png");
background-repeat: no-repeat;
margin-top: 100px;
margin-left: 50px;
}
.footer_bultene_kaydol
{
width: 352px;
height: 22px;
font-size: 14px;
float: right;
color: #FFFFFF;
margin-top: 90px;
margin-right: 54px;
}
.footer_arama_blok_en_dis_div{
height:68px;
width: 370px;
float: right;
margin-right: 35px;
}
.footer_arama_blok_dis_div{
height:65px;
width: 352px;
float: left;
}
.footer_arama_blok{
border: 1px solid #393939;
border-radius: 2px;
font-size: 14px;
width: 352px;
height: 44px;
margin-top: 10px;
}
.footer_arama_sol{
float: left;
padding-top: 4px;
padding-left: 4px;
}
.footer_arama_sag{
float: left;
}
.footer_arama_text{
border:0px;
height:34px;
width:340px;
color:#ffffe8;
font-size:13px; 
background-color: #181818;
float: right;
}
.footer_musteri_hizmetleri_blok
{
width: 475px;
height: 196px;
margin-left: 40px;
margin-top: 35px;
float: left;
}
.footer_musteri_hizmetleri_yazi
{
width: 250px;
height: 22px;
color: #FFFFFF;
font-size: 13px;
font-weight: 500;
float: left;
}
.footer_musteri_hizmetleri_alt_yazilar_dis_div
{
width: 222px;
height: 149px;
float: left;
margin-right: 15px;
}
.footer_musteri_hizmetleri_alt_yazilar
{
width: 222px;
height: 23px;
color: #818181;
font-size: 14px;
margin-top: 12px;
}
.footer_musteri_hizmetleri_alt_yazilar:hover
{
color: #FFFFFF;
}
.footer_musteri_hizmetleri_alt_yazilar_hizalama
{
width: 222px;
height: 23px;
color: #818181;
font-size: 14px;
margin-top: 2px;
}
.footer_musteri_hizmetleri_alt_yazilar_hizalama:hover
{
color: #FFFFFF;
}
.footer_puma_blok
{
width: 233px;
height: 101px;
margin-left: 10px;
margin-top: 35px;
float: left;
}
.footer_etbis_blok
{
width: 241px;
height: 196px;
margin-left: 5px;
margin-top: 35px;
float: left;
}
.footer_etbis_karekod
{
width: 233px;
height: 113px;
background-image: url("../img/karekod_100x107.png");
background-repeat: no-repeat;
margin-top: 35px;
}
.footer_uygulamalar_blok
{
width: 383px;
height: 64px;
float: right;
margin-top: 65px;
margin-right: 20px;
}
.footer_uygulamalar_facebook
{
width: 20px;
height: 20px;
float: left;
margin-top: 15px;
margin-left: 10px;
margin-right: 35px;
}
.footer_trac_blok
{
width: 383px;
height: 60px;
float: right;
margin-right: 20px;
}
.footer_trac_cerceve
{
width: 60px;
height: 60px;
border: 1px solid #393939;
border-radius: 15px;
float: left;
}
.footer_trac_logo
{
width: 50px;
height: 40px;
background-repeat: no-repeat;
background-image: url("../img/puma_logo_2_40x40.png");
margin-left: 10px;
margin-top: 5px;
}
.footer_trac_yazi
{
width: 20px;
height: 10px;
font-size: 9.5px;
color:#ffffff;
margin-left: 16px;
font-weight: bold;
}
.footer_antrenman_yazi
{
width: 139px;
height: 15px;
font-size: 11px;
color: #FFFFFF;
float: left;
font-weight: bold;
margin-left: 40px;
margin-top: 20px;
border-bottom: 2px solid #ae946d;
}
.footer_antrenman_yazi:hover
{
border-bottom-color: #FFFFFF;
}
.footer_en_alt_div_blok
{
width: 100%;
height: 110px;
border-top:1px solid #393939;
margin-top: 30px;
}
.footer_en_alt_div_sol_cerceve
{
width: 255px;
height: 47px;
border: 1px solid #393939;
margin-top: 30px;
margin-left: 40px;
float: left;
}
.footer_en_alt_div_turkiye_logo
{
width: 20px;
height: 20px;
background-image: url("../img/turkiye_logo.png");
background-repeat: no-repeat;
margin-left: 19px;
margin-top: 14px;
float: left;
}
.footer_en_alt_div_turkiye
{
width: 30px;
height: 20px;
color: #FFFFFF;
font-size: 11px;
font-weight: bold;
float: left;
margin-top: 17px;
margin-left: 16px;
}
.footer_en_alt_div_alt_yon
{
width: 14px;
height: 9px;
background-image: url("../img/footer_alt_yon.png");
background-repeat: no-repeat;
float: right;
margin-top: 20px;
margin-right: 11px;
}
.footer_en_alt_div_2020_puma_yazi
{
width: 200px;
height: 18px;
float: left;
color: #FFFFFF;
font-size: 14px;
margin-left: 460px;
margin-top: 45px;
}
.footer_en_alt_div_kullanim_kosullari
{
width: 116px;
height: 24px;
color: #818181;
font-size: 14px;
float: right;
margin-top: 47px;
margin-right: 37px;
}
.footer_en_alt_div_kullanim_kosullari:hover
{
color: #FFFFFF;
}






















