@charset "utf-8";
/* CSS Document */

body{
margin: 0px;
font-family:'FFDIN Regular','FFDIN',Arial,sans-serif;
}
a{text-decoration: none;}
.ust_serit_menu{
with: 100%;
height: 42px;
background-color:#ae946d;
padding: 0px center;

}
.ust_serit_menu_yazi_1{
font-family: 'FFDIN Regular','FFDIN',Arial,sans-serif;
font-size: 14px;
color:#FFFFFF;
height: 23px;
text-align: center;
padding-top: 12px;
	
}
.ust_serit_menu_yazi_2{
font-family: 'FFDIN Regular','FFDIN',Arial,sans-serif;
font-size: 14px;
color:#ffffff;
height: 23px;
text-align: center;
text-decoration: underline;
}
.hizalama_bitir{
clear: both;
}
.alt_drop_menu{
background-color:#181818;
width: 100%;
height: 70px;
}
.alt_drop_menu_resim_dis_div{
width: 50px;
height: 50px;
margin-left: 40px;
float: left;
}
.alt_drop_menu_resim{
background-image: url("../img/puma_logo_44_35.png");
background-repeat: no-repeat;
background-position: left;
height: 45px;
width: 45px;
margin-right: 12px;
padding-right: 27px;
float: left;
margin-top: 13px;
}
.alt_drop_menu_yazilar_dis_div{
width: 490px;
height: 30px;
float: left;
margin-top: 20px;
margin-left: 32px;
}
.alt_drop_menu_yazilar{
font-size: 15px;
font-family: 'FFDIN Regular','FFDIN',Arial,sans-serif;
color: #fff;
float: left;
margin-left: 40px;
margin-top: 4px;
}
.alt_drop_menu_yazilar:hover{
border-bottom: 3px solid #ae946d;
}
.arama_blok_en_dis_div{
height:68px;
width: 370px;
float: right;
}
.arama_blok_dis_div{
height:65px;
width: 220px;
float: left;
}
.arama_blok{
border: 1px solid #393939;
border-radius: 2px;
font-size: 14px;
width: 215px;
height: 40px;
margin-top: 10px;
}
.arama_sol{
float: left;
padding-top: 4px;
padding-left: 4px;
}
.arama_sag{
float: left;
}
.arama_text{
border:0px;
height:34px;
background-image:url("../img/arama_butonu 18_18.png");
background-repeat:no-repeat;
background-position:10px center; 
width:165px;
padding-left:40px;
color:#ffffe8;
font-size:13px; 
background-color: #181818;
}
.alt_drop_menu_sag_dis_div{
width: 120px;
height: 65px;
float: left;
}
.alt_drop_menu_sepet_resim{
background-image: url("../img/sepet_logo_2.png");
background-repeat: no-repeat;
background-position: right;
height: 25px;
width: 25px;
float: right;
padding-top: 37px;
margin-right: 16px;
}
.alt_drop_menu_sepet_resim:hover{
background-image: url("../img/sepet_logo_hover.png");
}
.alt_drop_menu_kullanici_resim{
background-image: url("../img/kullanıcı_logo_4.png");
background-repeat: no-repeat;
background-position: right;
height: 24px;
width: 37px;
float: right;
margin-right: 17px;
margin-top: 20px;
}
.alt_drop_menu_kullanici_resim:hover{
background-image: url("../img/kullanıcı_logo_hover.png");
}
.site_govde
{
width: 1519px;
height: 925px;
}
.uye_sayfasi_blok
{
width: 1519px;
height: 93px;
background-color: #eee;
}
.uye_sayafasi_sol_yazi
{
width: 170px;
height: 36px;
font-size: 25px;
color: #000000;
float: left;
margin-left: 127px;
margin-top: 30px;
}
.oturum_ac_ana_blok
{
width: 1519px;
height: 828.5px;
}
.giris_yap_ana_blok
{
width: 487px;
height: 704.5px;
float: left;
margin-left: 270px;
margin-top: 55px;
border-right: 2px solid #ebebeb;
}
.giris_yap_blok
{
width: 382px;
height: 246px;
}
.giris_blok
{
width: 382px;
height: 43px;
margin-top: 15px;
}
.giris_yazi
{
width: 183px;
height: 39px;
border-bottom: 2px solid #ebebeb;
font-size: 19px;
font-weight: bold;
}
.butonlar_blok
{
width: 382px;
height: 48px;
margin-top: 30px;
}
.butonlar_blok_1
{
width: 382px;
height: 48px;
margin-top: 15px;
}
.buton_blok
{
width: 340px;
height: 46px;
color: red;
}
.buton_yazi
{
width: 316px;
height: 40px;
color: #000000;
font-size: 15px;
padding-left: 16px;
}
.giris_yap_buton_blok
{
width: 382px;
height: 45.5px;
margin-top: 13px;
}
.giris_yap_buton
{
width: 206.5px;
height: 45.5px;
float: left;
background-color: #ccc;
}
.giris_yap_yazi
{
width: 85px;
height: 17px;
color: #FFF;
font-size: 17px;
font-weight: bold;
margin-left: 60px;
margin-top: 10px;
}
.sifreni_mi_unuttun_yazi
{
width: 135px;
height: 12px;
float: left;
color: #000000;
font-size: 12px;
font-weight: bold;
text-decoration: underline;
margin-left: 10px;
margin-top: 14px;
}
.yeni_uye_ana_blok
{
width: 387px;
height: 704.5px;
float: left;
margin-top: 55px;
margin-left: 67px;
}
.yeni_uye_yazi
{
width: 220px;
height: 39px;
border-bottom: 2px solid #ebebeb;
font-size: 19px;
font-weight: bold;
}
.sozlesmeler_blok
{
width: 342px;
height: 200px;
margin-top: 28px;
}
.sozlesme_kabul_etme_blok
{
width: 342px;
height: 32px;
}
.sozlesme_onay_kutusu
{
width: 22px;
height: 22px;
border: 1px solid #ebebeb;
float: left;
margin-top: 5px;
}
.sozlesmeler_kalin_yazi
{
width: 295px;
height: 30px;
float: left;
color: #000000;
font-size: 13.5px;
font-weight: bold;
margin-left: 13px;
}
.sozlesmeler_yazi_2
{
width: 305px;
height: 35px;
font-size: 13.5px;
margin-left: 37px;
margin-top: 15px;
}
.sozlesmeler_yazi_3
{
width: 305px;
height: 106px;
font-size: 13.5px;
margin-left: 37px;
margin-top: 15px;
float: left;
}
.uyelik_sozlesmesi_yazi
{
width: 127px;
height: 13.5px;
color: #ff2525;
float: left;
font-size: 13.5px;
}
.uyelik_sozlesmesi_yazi:hover
{
text-decoration: underline;
text-decoration-color: #ff2525; 
}
.hesap_olusturarak_yazi
{
width: 115px;
height: 17px;
float: left;
font-size: 13.5px;
color: #000000;
}
.okudugunuz_anladiginizi_yazi
{
width: 364px;
height: 17px;
color: #000000;
font-size: 13.5px;
}
.ediyor_ve_yazi
{
width: 60px;
height: 17px;
color: #000000;
font-size: 13.5px;
float: left;
}
.gizlilik_politikasi_yazi
{
width: 102px;
height: 13.5px;
color: #ff2525;
font-size: 13.5px;
float: left;
}
.gizlilik_politikasi_yazi:hover
{
text-decoration: underline;
text-decoration-color: #ff2525;
}
.ve_yazi
{
width: 10px;
height: 17px;
color: #000000;
font-size: 13.5px;
float: left;
margin-right: 8px;
}
.aydinlatma_metni_yazi
{
width: 107px;
height: 13.5px;
color: #ff2525;
font-size: 13.5px;
float: left;
}
.aydinlatma_metni_yazi:hover
{
text-decoration: underline;
text-decoration-color: #ff2525;
}
.sozlesme_metni_yazi_devam
{
width: 290px;
height: 61px;
color: #000000;
font-size: 13.5px;
}
.uye_ol_buton_blok
{
width: 382px;
height: 45.5px;
}
.uye_ol_buton
{
width: 120.5px;
height: 45.5px;
background-color: #ccc;
margin-top: 35px;
}
.uye_ol_buton_yazi
{
width: 65px;
height: 7px;
font-size: 17px;
font-weight: bold;
color: #FFFFFF;
margin-left: 25px;
padding-top: 10px;
}
.footer_ana_blok
{
width: 100%;
height: 630px;
background-color: #181818;
}

.footer_logo
{
width: 40px;
height: 30px;
float: left;
background-image: url("../img/puma_logo_footer.png");
background-repeat: no-repeat;
margin-top: 100px;
margin-left: 50px;
}
.footer_bultene_kaydol
{
width: 352px;
height: 22px;
font-size: 14px;
float: right;
color: #FFFFFF;
margin-top: 90px;
margin-right: 54px;
}
.footer_arama_blok_en_dis_div{
height:68px;
width: 370px;
float: right;
margin-right: 35px;
}
.footer_arama_blok_dis_div{
height:65px;
width: 352px;
float: left;
}
.footer_arama_blok{
border: 1px solid #393939;
border-radius: 2px;
font-size: 14px;
width: 352px;
height: 44px;
margin-top: 10px;
}
.footer_arama_sol{
float: left;
padding-top: 4px;
padding-left: 4px;
}
.footer_arama_sag{
float: left;
}
.footer_arama_text{
border:0px;
height:34px;
width:340px;
color:#ffffe8;
font-size:13px; 
background-color: #181818;
float: right;
}
.footer_musteri_hizmetleri_blok
{
width: 475px;
height: 196px;
margin-left: 40px;
margin-top: 35px;
float: left;
}
.footer_musteri_hizmetleri_yazi
{
width: 250px;
height: 22px;
color: #FFFFFF;
font-size: 13px;
font-weight: 500;
float: left;
}
.footer_musteri_hizmetleri_alt_yazilar_dis_div
{
width: 222px;
height: 149px;
float: left;
margin-right: 15px;
}
.footer_musteri_hizmetleri_alt_yazilar
{
width: 222px;
height: 23px;
color: #818181;
font-size: 14px;
margin-top: 12px;
}
.footer_musteri_hizmetleri_alt_yazilar:hover
{
color: #FFFFFF;
}
.footer_musteri_hizmetleri_alt_yazilar_hizalama
{
width: 222px;
height: 23px;
color: #818181;
font-size: 14px;
margin-top: 2px;
}
.footer_musteri_hizmetleri_alt_yazilar_hizalama:hover
{
color: #FFFFFF;
}
.footer_puma_blok
{
width: 233px;
height: 101px;
margin-left: 10px;
margin-top: 35px;
float: left;
}
.footer_etbis_blok
{
width: 241px;
height: 196px;
margin-left: 5px;
margin-top: 35px;
float: left;
}
.footer_etbis_karekod
{
width: 233px;
height: 113px;
background-image: url("../img/karekod_100x107.png");
background-repeat: no-repeat;
margin-top: 35px;
}
.footer_uygulamalar_blok
{
width: 383px;
height: 64px;
float: right;
margin-top: 65px;
margin-right: 20px;
}
.footer_uygulamalar_facebook
{
width: 20px;
height: 20px;
float: left;
margin-top: 15px;
margin-left: 10px;
margin-right: 35px;
}
.footer_trac_blok
{
width: 383px;
height: 60px;
float: right;
margin-right: 20px;
}
.footer_trac_cerceve
{
width: 60px;
height: 60px;
border: 1px solid #393939;
border-radius: 15px;
float: left;
}
.footer_trac_logo
{
width: 50px;
height: 40px;
background-repeat: no-repeat;
background-image: url("../img/puma_logo_2_40x40.png");
margin-left: 10px;
margin-top: 5px;
}
.footer_trac_yazi
{
width: 20px;
height: 10px;
font-size: 9.5px;
color:#ffffff;
margin-left: 16px;
font-weight: bold;
}
.footer_antrenman_yazi
{
width: 139px;
height: 15px;
font-size: 11px;
color: #FFFFFF;
float: left;
font-weight: bold;
margin-left: 40px;
margin-top: 20px;
border-bottom: 2px solid #ae946d;
}
.footer_antrenman_yazi:hover
{
border-bottom-color: #FFFFFF;
}
.footer_en_alt_div_blok
{
width: 100%;
height: 110px;
border-top:1px solid #393939;
margin-top: 30px;
}
.footer_en_alt_div_sol_cerceve
{
width: 255px;
height: 47px;
border: 1px solid #393939;
margin-top: 30px;
margin-left: 40px;
float: left;
}
.footer_en_alt_div_turkiye_logo
{
width: 20px;
height: 20px;
background-image: url("../img/turkiye_logo.png");
background-repeat: no-repeat;
margin-left: 19px;
margin-top: 14px;
float: left;
}
.footer_en_alt_div_turkiye
{
width: 30px;
height: 20px;
color: #FFFFFF;
font-size: 11px;
font-weight: bold;
float: left;
margin-top: 17px;
margin-left: 16px;
}
.footer_en_alt_div_alt_yon
{
width: 14px;
height: 9px;
background-image: url("../img/footer_alt_yon.png");
background-repeat: no-repeat;
float: right;
margin-top: 20px;
margin-right: 11px;
}
.footer_en_alt_div_2020_puma_yazi
{
width: 200px;
height: 18px;
float: left;
color: #FFFFFF;
font-size: 14px;
margin-left: 460px;
margin-top: 45px;
}
.footer_en_alt_div_kullanim_kosullari
{
width: 116px;
height: 24px;
color: #818181;
font-size: 14px;
float: right;
margin-top: 47px;
margin-right: 37px;
}
.footer_en_alt_div_kullanim_kosullari:hover
{
color: #FFFFFF;
}