@charset "utf-8";
/* CSS Document */

body{
margin: 0px;
font-family:'FFDIN Regular','FFDIN',Arial,sans-serif;
}
a{text-decoration: none;}
.ust_serit_menu{
with: 100%;
height: 42px;
background-color:#ae946d;
padding: 0px center;

}
.ust_serit_menu_yazi_1{
font-family: 'FFDIN Regular','FFDIN',Arial,sans-serif;
font-size: 14px;
color:#FFFFFF;
height: 23px;
text-align: center;
padding-top: 12px;
	
}
.ust_serit_menu_yazi_2{
font-family: 'FFDIN Regular','FFDIN',Arial,sans-serif;
font-size: 14px;
color:#ffffff;
height: 23px;
text-align: center;
text-decoration: underline;
}
.hizalama_bitir{
clear: both;
}
.alt_drop_menu{
background-color:#181818;
width: 100%;
height: 70px;
}
.alt_drop_menu_resim_dis_div{
width: 50px;
height: 50px;
margin-left: 40px;
float: left;
}
.alt_drop_menu_resim{
background-image: url("../img/puma_logo_44_35.png");
background-repeat: no-repeat;
background-position: left;
height: 45px;
width: 45px;
margin-right: 12px;
padding-right: 27px;
float: left;
margin-top: 13px;
}
.alt_drop_menu_yazilar_dis_div{
width: 490px;
height: 30px;
float: left;
margin-top: 20px;
margin-left: 32px;
}
.alt_drop_menu_yazilar{
font-size: 15px;
font-family: 'FFDIN Regular','FFDIN',Arial,sans-serif;
color: #fff;
float: left;
margin-left: 40px;
margin-top: 4px;
}
.alt_drop_menu_yazilar:hover{
border-bottom: 3px solid #ae946d;
}
.arama_blok_en_dis_div{
height:68px;
width: 370px;
float: right;
}
.arama_blok_dis_div{
height:65px;
width: 220px;
float: left;
}
.arama_blok{
border: 1px solid #393939;
border-radius: 2px;
font-size: 14px;
width: 215px;
height: 40px;
margin-top: 10px;
}
.arama_sol{
float: left;
padding-top: 4px;
padding-left: 4px;
}
.arama_sag{
float: left;
}
.arama_text{
border:0px;
height:34px;
background-image:url("../img/arama_butonu 18_18.png");
background-repeat:no-repeat;
background-position:10px center; 
width:165px;
padding-left:40px;
color:#ffffe8;
font-size:13px; 
background-color: #181818;
}
.alt_drop_menu_sag_dis_div{
width: 120px;
height: 65px;
float: left;
}
.alt_drop_menu_sepet_resim{
background-image: url("../img/sepet_logo_2.png");
background-repeat: no-repeat;
background-position: right;
height: 25px;
width: 25px;
float: right;
padding-top: 37px;
margin-right: 16px;
}
.alt_drop_menu_sepet_resim:hover{
background-image: url("../img/sepet_logo_hover.png");
}
.alt_drop_menu_kullanici_resim{
background-image: url("../img/kullanıcı_logo_4.png");
background-repeat: no-repeat;
background-position: right;
height: 24px;
width: 37px;
float: right;
margin-right: 17px;
margin-top: 20px;
}
.alt_drop_menu_kullanici_resim:hover{
background-image: url("../img/kullanıcı_logo_hover.png");
}
.site_govde
{
width: 1519px;
height: 1377px;
}
.alisveris_sepeti_blok
{
width: 1519px;
height: 93px;
background-color: #eee;
}
.alisveris_sepeti_yazilar_blok
{
width: 1230px;
height: 2px;
margin: auto;
padding-top: 25px;
}
.alisveris_sepeti_sol_yazi
{
width: 280px;
height: 32px;
font-size: 24px;
color: #000000;
float: left;
margin-left: 25px;
}
.alisveris_sepeti_sag_yazi_blok
{
width: 134px;
height: 16px;
float: right;
margin-top: 10px;
margin-right: 20px;
}
.alisveris_sepeti_sag_yazi:hover
{
color: #000000;
}
.alisveris_sepeti_sag_yazi_yon
{
width: 15px;
height: 15px;
float: left;
background-image: url("../sepet_img/sol_yon.png");
background-repeat: no-repeat;
}
.alisveris_sepeti_sag_yazi_yon:hover
{
background-image: url("../sepet_img/sol_yon_hover.png");
}
.alisveris_sepeti_sag_yazi
{
width: 110px;
height: 16px;
float: right;
font-size: 12px;
color: #aaa;
margin-right: 5px;
}
.urun_ana_blok
{
width: 1230px;
height: 391px;
margin: auto;
/*border: 1px solid #000000;*/
}
.urun_sol_blok
{
width: 755px;
height: 326px;
float: left;
}
.urun_sol_ic_blok
{
width: 755px;
height: 256px;
float: left;
margin-top: 63px;
margin-left: 25px;
}
.urun_sol_ic_blok_urun_resim_blok
{
width: 192.5px;
height: 162.5px;
float: left;
}
.urun_sol_ic_blok_urun_resim
{
width: 140px;
height: 140px;
}
.beden_alt_sol_yazi_blok
{
width: 65px;
height: 16px;
margin-top: 12px;
margin-left: 33px;
}
.beden_alt_sol_yazi_tik
{
width: 16px;
height: 16px;
float: left;
background-image: url("../urunler_img/yesil_onay.png");
background-repeat: no-repeat;
margin-left: 8px;
}
.beden_alt_sol_yazi_1
{
width: 34px;
height: 15.5px;
float: left;
color: #aaa;
font-size: 12px;
margin-left: 7px;
}
.urun_sol_ic_yazilar_blok
{
width: 300px;
height: 214px;
float: left;
}
.urun_sol_ic_blok_urun_adi_blok
{
width: 300px;
height: 30px;
}
.urun_sol_ic_blok_urun_adi
{
width: 300px;
height: 23.5px;
color: #000000;
font-size: 22px;
}
.urun_ozellikleri_blok
{
width: 300px;
height: 55px;
margin-top: 15px;
}
.urun_ozellik_1_blok
{
width: 300px;
height: 19.5px;
}
.urun_ozellik_1_1
{
width: 35.5px;
height: 12px;
color: #aaa;
font-size: 12px;
float: left;
}
.urun_ozellik_1_2
{
width: 185px;
height: 12px;
color: #aaa;
font-size: 12px;
float: left;
margin-left: 3px;
}
.urun_ozellik_2_1
{
width: 43px;
height: 12px;
float: left;
color: #aaa;
font-size: 12px;
}
.urun_ozellik_2_2
{
width: 13px;
height: 12px;
color: #aaa;
font-size: 12px;
float: left;
margin-left: 3px;
}
.urun_ozellik_3_1
{
width: 61px;
height: 12px;
float: left;
color: #aaa;
font-size: 12px;
}
.urun_ozellik_3_2
{
width: 75px;
height: 15px;
color: #aaa;
font-size: 12px;
float: left;
margin-left: 3px;
}
.urun_adeti_ve_fiyati_blok
{
width: 295px;
height: 50px;
margin-top: 22px;
}
.urun_adeti_blok
{
width: 120px;
height: 46px;
float: left;
border: 1px solid #e1e1e1;
}
.urun_yazi
{
width: 72px;
height: 9px;
font-size: 9px;
color: #aaa;
float: left;
margin-left: 15px;
margin-top: 7px;
}
.urun_numarasi
{
width: 72px;
height: 20px;
font-size: 14px;
color: #000000;
float: left;
font-weight: bold;
margin-left: 15px;
margin-top: 4px;
}
.urun_alt_yon
{
width: 18px;
height: 15px;
background-image: url("../urunler_img/beden_olculeri_yon.png");
background-repeat: no-repeat;
float: right;
margin-right: 8px;
margin-top: 4px;
}
.urun_fiyat
{
width: 107px;
height: 22px;
float: left;
color: #000000;
font-size: 22px;
font-weight: bold;
margin-left: 25px;
margin-top: 10px;
}
.hoverli_yazilar_blok
{
width: 295px;
height: 18px;
margin-top: 25px;
}
.hoverli_yazi_alti_yazi_1
{
width: 52.5px;
height: 13px;
border-bottom: 1px solid #000000;
font-size: 11px;
font-weight: bold;
float: left;
color: #000000;
}
.hoverli_yazi_alti_yazi_1:hover
{
border-color: red;
color: red;
}
.hoverli_yazi_alti_yazi_2
{
width: 85px;
height: 12px;
border-bottom: 1px solid #000000;
font-size: 11px;
font-weight: bold;
margin-left: 30px;
float: left;
color: #000000;
}
.hoverli_yazi_alti_yazi_2:hover
{
border-color: red;
color: red;
}
.siparis_ozeti_blok
{
width: 348px;
height: 296.5px;
float: left;

margin-top: 63px;
margin-left: 100px;
}
.siparis_ozeti_yazi
{
width: 348px;
height: 51.5px;
color: #000000;
font-size: 16px;
font-weight: bold;
border-bottom: 1px solid #ebebeb;
}
.ara_toplam_blok
{
width: 345px;
height: 35.5px;
margin-top: 27px;
}
.ara_toplam_sol_yazi
{
width: 200px;
height: 35.5px;
float: left;
color: #000000;
font-size: 14px;
font-weight: bold;

}
.ara_toplam_sag_fiyat
{
width: 67px;
height: 13.5px;
float: right;
font-size: 14px;
color: #000000;
}
.siparis_toplami_blok
{
width: 345px;
height: 42px;
}
.siparis_toplami_sol_yazi
{
width: 180px;
height: 20px;
font-size: 20px;
font-weight: bold;
float: left;
color: #000000;
}
.siparis_toplami_sag_fiyat
{
width: 98px;
height: 20px;
font-size: 20px;
font-weight: bold;
float: right;
color: #000000;
}
.indirim_kodu_blok
{
width: 348px;
height: 71.5px;
border-top: 1px solid  #ebebeb;
margin-top: 10px;
}
.indirim_kodu_yazi
{
width: 100px;
height: 17px;
color: #000000;
font-size: 16px;
font-weight: bold;
float: left;
margin-top: 25px;
}
.indirim_kodu_alt_yon
{
width: 15px;
height: 15px;
float: right;
background-image: url("../sepet_img/alt_yon.png");
background-repeat: no-repeat;
margin-top: 32px;
margin-right: 3px;
}
.odeme_buton_blok
{
width: 348px;
height: 46.5px;
background-color: #ff0000;
margin-top: 10px;
}
.odeme_buton_yazi
{
width: 60px;
height: 5px;
font-size: 17px;
font-weight: bold;
color: #FFFFFF;
text-align: center;
margin-left: 140px;
padding-top: 12px;
}
.en_alt_urunler_blok
{
width: 1420px;
height: 400px;
margin-left: 50px;
}
.en_alt_urunler_ust_baslik
{
width: 1420px;
height: 39.5px;
color: #000000;
font-size: 30px;
font-weight: bold;
text-align: center;
margin-top: 40px;
}
.en_alt_urunler_dis_div
{
width: 1110px;
height: 360px;
margin: auto;
margin-top: 20px;
}
.en_alt_urunler
{
width: 265px;
height: 360px;
float: left;
margin-left: 5px;
}
.en_alt_urunler_sol_yon
{
width: 17px;
height: 250px;
background-image: url("../img/sol_yon_2.png");
background-position: center;
background-repeat: no-repeat;
float: left;
border-bottom: 1px solid #e1e1e1;
margin-top:4px;
}
.en_alt_urunler_sol_yon:hover
{
background-image: url("../img/sol_yon_2_hover.png");
}
.en_alt_urunler_resimler
{
float: left;
border-bottom: 1px solid #e1e1e1;
}
.en_alt_urunler_resim_alt_yazi
{
width: 265px;
height: 23px;
font-size: 14px;
margin-top: 17px;
margin-left: 5px;
text-align: center;
color: #000000;
}
.en_alt_urunler_fiyat
{
width: 80px;
height: 14.4;
font-size: 14px;
font-weight: bold;
color: #000000;
margin-left: 105px;
margin-top: 20px;
}
.en_alt_urunler_sag_yon
{
width: 17px;
height: 250px;
background-image: url("../img/sag_yon.png");
background-position: center;
background-repeat: no-repeat;
float: left;
margin-top: 4px;
margin-right:5px;
}
.en_alt_urunler_sag_yon:hover
{
background-image: url("../img/sag_yon_hover.png");
}
.sepet_footer_ana_blok
{
width: 1519px;
height: 286px;
background-color: #eee;
margin-top: 50px;
}
.sepet_footer_ic_blok
{
width: 1230px;
height: 286px;
border: 1px solid #eee;
margin:auto;
}
.sepet_footer_yazilar_blok
{
width: 944px;
height: 154px;
margin:auto;
margin-top: 70px;
}
.footer_odeme_blok
{
width: 114px;
height: 154px;
float: left;
}
.footer_odeme_yazi
{
width: 114px;
height: 21.5px;
color: #000000;
font-size: 16px;
font-weight: bold;
text-align: center;
}
.footer_odeme_kartlari_blok
{
width: 114px;
height: 50px;
margin-top: 20px;
}
.footer_odeme_mastercard
{
width: 40px;
height: 40px;
float: left;
background-repeat: no-repeat;
background-image: url("../sepet_img/mastercard_kopya.png");
margin-left: 5px;
}
.footer_odeme_visa
{
width: 50px;
height: 50px;
float: left;
background-repeat: no-repeat;
background-image: url("../sepet_img/visa_!.png");
margin-left: 10px;
margin-top: 5px;
}
.yardima_ihtiyac_mi_var_blok
{
width: 228px;
height: 154px;
float: left;
margin-left: 115px;
}
.yardima_ihtiyac_mi_var_yazi
{
width: 228px;
height: 21.5px;
color: #000000;
font-size: 16px;
font-weight: bold;
}
.yardima_ihtiyac_mi_var_telefon
{
width: 228px;
height: 16px;
color: #000000;
font-size: 12px;
font-weight: bold;
text-align: center;
margin-top: 18px;
}
.yardima_ihtiyac_mi_var_telefon:hover
{
text-decoration: underline;
}
.yardima_ihtiyac_mi_var_bilgilendirme_1
{
width: 200px;
height: 39px;
font-size: 12px;
color: #000000;
margin: auto;
text-align: center;
margin-top: 5px;
}
.yardima_ihtiyac_mi_var_bilgilendirme_2
{
width: 200px;
height: 20px;
font-size: 12px;
color: #000000;
margin: auto;
text-align: center;
margin-top: 5px;
}
.garanti_ve_iade_blok
{
width: 154px;
height: 154px;
float: left;
margin-left: 115px;
}
.garanti_ve_iade_yazi
{
width: 154px;
height: 21.5px;
font-size: 16px;
color: #000000;
font-weight: bold;
text-align: center;
}
.garanti_ve_iade_kargo_yazi
{
width: 154px;
height: 39px;
font-size: 12px;
color: #000000;
text-align: center;
margin-top: 17px;
}
.kargo_yerleri_blok
{
width: 154px;
height: 28px;
margin-top: 13px;
}
.kargo_yerleri_aras_kargo
{
width: 60px;
height: 28px;
float: left;
background-image: url("../sepet_img/aras_kargo.png");
background-repeat: no-repeat;
margin-left: 6px;
}
.kargo_yerleri_yurt_ici_kargo
{
width: 70px;
height: 25px;
float: left;
background-image: url("../sepet_img/yurt_ici_kargo.png");
background-repeat: no-repeat;
margin-left: 10px;
margin-top: 5px;
}
.etbis_blok
{
width: 100px;
height: 154px;
float: left;
margin-left: 115px;
}
.etbis_yazi
{
width: 100px;
height: 21.5px;
font-size: 16px;
color: #000000;
font-weight: bold;
text-align: center;
}
.etbis_karekod
{
width: 100px;
height: 107px;
background-image: url("../sepet_img/etbis_karekod_100x107.jpg");
background-repeat: no-repeat;
margin-top: 17px;
margin-left: 3px;
}