@charset "utf-8";
/* CSS Document */
body{
margin: 0px;
font-family:'FFDIN Regular','FFDIN',Arial,sans-serif;
}
a{text-decoration: none;}
.ust_serit_menu{
with: 100%;
height: 42px;
background-color:#ae946d;
padding: 0px center;

}
.ust_serit_menu_yazi_1{
font-family: 'FFDIN Regular','FFDIN',Arial,sans-serif;
font-size: 14px;
color:#FFFFFF;
height: 23px;
text-align: center;
padding-top: 12px;
	
}
.ust_serit_menu_yazi_2{
font-family: 'FFDIN Regular','FFDIN',Arial,sans-serif;
font-size: 14px;
color:#ffffff;
height: 23px;
text-align: center;
text-decoration: underline;
}
.hizalama_bitir{
clear: both;
}
.alt_drop_menu{
background-color:#181818;
width: 100%;
height: 70px;
}
.alt_drop_menu_resim_dis_div{
width: 50px;
height: 50px;
margin-left: 40px;
float: left;
}
.alt_drop_menu_resim{
background-image: url("../img/puma_logo_44_35.png");
background-repeat: no-repeat;
background-position: left;
height: 45px;
width: 45px;
margin-right: 12px;
padding-right: 27px;
float: left;
margin-top: 13px;
}
.alt_drop_menu_yazilar_dis_div{
width: 490px;
height: 30px;
float: left;
margin-top: 20px;
margin-left: 32px;
}
.alt_drop_menu_yazilar{
font-size: 15px;
font-family: 'FFDIN Regular','FFDIN',Arial,sans-serif;
color: #fff;
float: left;
margin-left: 40px;
margin-top: 4px;
}
.alt_drop_menu_yazilar:hover{
border-bottom: 3px solid #ae946d;
}
.arama_blok_en_dis_div{
height:68px;
width: 370px;
float: right;
}
.arama_blok_dis_div{
height:65px;
width: 220px;
float: left;
}
.arama_blok{
border: 1px solid #393939;
border-radius: 2px;
font-size: 14px;
width: 215px;
height: 40px;
margin-top: 10px;
}
.arama_sol{
float: left;
padding-top: 4px;
padding-left: 4px;
}
.arama_sag{
float: left;
}
.arama_text{
border:0px;
height:34px;
background-image:url("../img/arama_butonu 18_18.png");
background-repeat:no-repeat;
background-position:10px center; 
width:165px;
padding-left:40px;
color:#ffffe8;
font-size:13px; 
background-color: #181818;
}
.alt_drop_menu_sag_dis_div{
width: 120px;
height: 65px;
float: left;
}
.alt_drop_menu_sepet_resim{
background-image: url("../img/sepet_logo_2.png");
background-repeat: no-repeat;
background-position: right;
height: 25px;
width: 25px;
float: right;
padding-top: 37px;
margin-right: 16px;
}
.alt_drop_menu_sepet_resim:hover{
background-image: url("../img/sepet_logo_hover.png");
}
.alt_drop_menu_kullanici_resim{
background-image: url("../img/kullanıcı_logo_4.png");
background-repeat: no-repeat;
background-position: right;
height: 24px;
width: 37px;
float: right;
margin-right: 17px;
margin-top: 20px;
}
.alt_drop_menu_kullanici_resim:hover{
background-image: url("../img/kullanıcı_logo_hover.png");
}
.sayfa_yollari_blok
{
width: 1455px;
height: 60px;
float: right;
}
.sayfa_yollari_ana_sayfa_blok
{
width: 94px;
height: 60px;
float: left;
margin-left: 15px;
}
.sayfa_yollari_ana_sayfa
{
width: 61px;
height: 14px;
font-size: 13px;
color: #000000;
margin-top: 20px;
float: left;
}
.sayfa_yollari_ana_sayfa:hover
{
color: red;
}
.sayfa_yollari_yon_resmi
{
width: 10px;
height: 10px;
background-image: url("../kadin_img/Başlıksız-2 kopya2.png");
background-repeat: no-repeat;
float: right;
margin-top: 23px;
margin-right: 7px;
}
.sayfa_yollari_kadin_blok
{
width: 70px;
height: 60px;
float: left;
}
.sayfa_yollari_koleksiyon_blok
{
width: 110px;
height: 60px;
float: left;
}
.sayfa_yollari_kadin
{
width: 45px;
height: 14px;
color: #000000;
float: left;
margin-top: 20px;
margin-left: 3px;
font-size: 13px;
}
.sayfa_yollari_koleksiyonlar
{
width: 80px;
height: 14px;
color: #000000;
float: left;
margin-top: 20px;
margin-left: 3px;
font-size: 13px;
}
.sayfa_yollari_kadin:hover
{
color: red;
}
.sayfa_yollari_urun_adi_blok
{
width: 400px;
height: 60px;
float: left;
}
.sayfa_yollari_urun_adi
{
width: 400px;
height: 14px;
color: #929292;
margin-top: 20px;
margin-left: 3px;
font-size: 13px;
}
.urun_ana_govde
{
width: 1518px;
height: 1750px;
}
.urun_blok
{
width: 1440px;
height: 680px;
margin: auto;
}
.urun_ic_blok
{
width: 1040px;
height: 680px;
margin-left: 120px;
}
.urun_resimler_blok
{
width: 626px;
height: 500px;
margin-left: 35px;
margin-top: 80px;
float: left;

}
.urun_resimler_sol_blok
{
width: 98px;
height: 412px;
float: left;

}
.urun_sol_kucuk_resimler_blok_kirmizi
{
width: 78px;
height: 85px;
border-bottom: 2px solid #ff0000;
margin-bottom: 10px;
}
.urun_sol_kucuk_resimler_blok_gri
{
width: 78px;
height: 85px;
border-bottom: 1px solid #e1e1e1;
margin-bottom: 10px;
}
.urun_sol_kucuk_resimler_blok_gri:hover
{
border-bottom: 2px solid #000000;
height: 84px;
}
.urunler_sol_kucuk_resimler
{
width: 78px;
height: 78px;
margin: auto;
}
.urunler_sag_resim_blok
{
width: 525px;
height: 525px;
float: left;
}
.urunler_sag_resim
{
width: 453px;
height: 453px;
margin-top: 10px;
margin-left: 40px;
float: left;
}
.urunler_sag_resim_sol_yon
{
width: 30px;
height: 30px;
float: left;
background-image: url("../urunler_img/buyuk_resim_sol_yon.png");
background-repeat: no-repeat;
background-position: center;
margin-top: 220px;
}
.urun_bligileri_blok
{
width: 358.5px;
height: 500px;
float: right;
margin-top: 65px;
}
.urun_bilgileri_urun_adi
{
width: 353.5px;
color: #000000;
font-size: 30px;
font-weight: bold;
padding-left: 5px;
}
.para_ve_urun_kodu_blok
{
width: 360px;
height: 21px;
margin-top: 30px;
}
.urun_parasi
{
width: 110px;
height: 21px;
float: left;
color: #222;
font-size: 21px;
font-weight: bold;
margin-left: 10px;
}
.urun_parasi_uzun
{
width: 130px;
height: 21px;
float: left;
color: #222;
font-size: 21px;
font-weight: bold;
margin-left: 10px;
}
.urun_kodu_blok
{
width: 143px;
height: 19px;
float: right;
margin-top: 5px;
}
.urun_kodu_yazi
{
width: 72.5px;
height: 14px;
font-size: 13px;
color: #000000;
float: left;
}
.urun_kodu_sayi
{
width: 67.5px;
height: 14px;
font-size: 14px;
color: #000000;
float: left;
}
.renkler_ana_blok
{
width: 353.5px;
height: 36px;
margin-top: 20px;
}
.renkler_liste
{
width: 365px;
height: 40px;
}
.renkler_blok
{
height: 31px;
width: 353,5px;
float: left;
}
.renkler_cerceve
{
width: 30px;
height: 30px;
border: 1px solid #e1e1e1;
margin-left: 6px;
float: left;
}
.urunler_renkler
{
width: 27px;
height: 27px;
margin: auto;
margin-top: 1.5px;
}
.renkler_cerceve_hoverli
{
width: 30px;
height: 30px;
border: 1px solid #fff;
margin-left: 6px;
float: left;
}
.renkler_cerceve_hoverli:hover
{
border: 1px solid #e1e1e1;	
}
.renk_kodu_blok
{
width: 353.5px;
height: 14.5px;
margin-top: 5px;
}
.renk_kodu_yazi1
{
width: 30px;
height: 11.5px;
float: left;
font-size: 11px;
font-weight: bold;
margin-left: 8px;
}
.renk_kodu_yazi2
{
width: 125px;
height: 11.5px;
float: left;
font-size: 11px;
margin-left: 4px;
}
.renk_kodu_yazi2_uzun
{
width: 200px;
height: 11.5px;
float: left;
font-size: 11px;
margin-left: 4px;
}
.beden_ve_urun_adeti_blok
{
width: 360px;
height: 50px;
margin-top: 30px;
}
.beden_blok_1
{
width: 165px;
height: 46px;
float: left;
border: 1px solid #e1e1e1;
margin-left: 8px;
}
.beden_yazi
{
width: 120px;
height: 9px;
font-size: 9px;
color: #aaa;
float: left;
margin-left: 15px;
margin-top: 7px;
}
.beden_numarasi
{
width: 120px;
height: 20px;
font-size: 14px;
color: #000000;
float: left;
font-weight: bold;
margin-left: 15px;
margin-top: 4px;
}
.beden_numarasi_seciniz
{
width: 120px;
height: 20px;
font-size: 14px;
color: #000000;
float: left;
margin-left: 15px;
margin-top: 4px;
}
.beden_alt_yon
{
width: 18px;
height: 15px;
background-image: url("../urunler_img/beden_olculeri_yon.png");
background-repeat: no-repeat;
float: right;
margin-right: 8px;
margin-top: 4px;
}
.beden_blok_2
{
width: 165px;
height: 46px;
float: right;
border: 1px solid #e1e1e1;
margin-left: 3px;
}
.beden_alt_yazilar_blok
{
width: 360px;
height: 24px;
}
.beden_alt_sol_yazi_blok
{
width: 65px;
height: 16px;
float: left;
margin-top: 16px;
}
.beden_alt_sol_yazi_tik
{
width: 16px;
height: 16px;
float: left;
background-image: url("../urunler_img/yesil_onay.png");
background-repeat: no-repeat;
margin-left: 8px;
}
.beden_alt_sol_yazi_1
{
width: 34px;
height: 15.5px;
float: left;
color: #aaa;
font-size: 12px;
margin-left: 7px;
}
.beden_alt_sag_yazi
{
width: 103px;
height: 22px;
float: right;
}
.beden_alt_sag_yazi_blok
{
width: 103px;
height: 19px;
background-color: #f8b98b;
color: #000000;
font-size: 12px;
font-weight: bold;
float: right;
text-align: center;
padding-top: 4px;
margin-top: 15px;
}
.beden_alt_sag_yazi_blok_erkek
{
width: 133px;
height: 19px;
background-color: #f8b98b;
color: #000000;
font-size: 12px;
font-weight: bold;
float: right;
text-align: center;
padding-top: 4px;
margin-top: 15px;
}
.sepete_ekle_buton_blok
{
width: 350px;
height: 47.4px;
background-color: #ff0000;
margin-left: 9px;
margin-top: 20px;
}
.sepete_ekle_buton_yazi
{
width: 110px;
height: 1px;
font-size: 15px;
font-weight: bold;
color: #FFFFFF;
text-align: center;
margin-left: 123px;
padding-top: 14px;
}
.buton_alti_hoverli_yazilar_blok
{
width: 358.5px;
height: 18px;
margin-top: 16px;
}
.buton_alti_yazi_1
{
width: 87.5px;
height: 11.5px;
border-bottom: 1px solid #000000;
font-size: 10px;
font-weight: bold;
margin-left: 8px;
float: left;
color: #000000;
}
.buton_alti_yazi_1:hover
{
border-color: red;
color: red;
}
.buton_alti_yazi_2
{
width: 87px;
height: 11.5px;
border-bottom: 1px solid #000000;
font-size: 10px;
font-weight: bold;
margin-left: 40px;
float: left;
color: #000000;
}
.buton_alti_yazi_2:hover
{
border-color: red;
color: red;
}
.buton_alti_yazi_3
{
width: 100px;
height: 11.5px;
border-bottom: 1px solid #000000;
font-size: 10px;
font-weight: bold;
float: right;
color: #000000;
}
.buton_alti_yazi_3:hover
{
border-color: red;
color: red;
}
.urun_bilgiler_alti_yazilar_ana_blok
{
width: 1044px;
height: 101px;
border-top: 1px solid #e1e1e1;
}
.urun_bilgileri_alt_yazilar_blok
{
width: 992px;
height: 50px;
margin: auto;
margin-top: 33px;
}
.kargo_blok
{
width: 248px;
height: 35px;
float: left;
margin-right: 47px;
}
.kargo_resim
{
width: 30px;
height: 30px;
float: left;
background-image: url("../urunler_img/kargo.png");
background-repeat: no-repeat;
margin-top: 7px;
}
.kargo_yazi
{
width: 203px;
height: 31px;
float: left;
color: #000000;
font-size: 12px;
margin-left: 15px;
}
.guvenli_alisveris_blok
{
width: 210px;
height: 35px;
float: left;
}
.guvenli_alisveris_resim
{
width: 23px;
height: 23px;
float: left;
background-image: url("../urunler_img/guvenli_alisveris.png");
background-repeat: no-repeat;
margin-top: 2px;
}
.guvenli_alisveris_yazi
{
width: 160px;
height: 31px;
float: left;
color: #000000;
font-size: 12px;
margin-left: 15px;
margin-top: 8px;
}
.iade_resim
{
width: 23px;
height: 23px;
float: left;
background-image: url("../urunler_img/iade.png");
background-repeat: no-repeat;
margin-top: 2px;
}
.iade_yazi
{
width: 195px;
height: 16px;
float: left;
color: #000000;
font-size: 12px;
margin-left: 15px;
margin-top: 8px;
}
.taksit_blok
{
width: 170px;
height: 35px;
float: left;

}
.taksit_resim
{
width: 23px;
height: 23px;
float: left;
background-image: url("../urunler_img/taksit.png");
background-repeat: no-repeat;
margin-top: 2px;
}
.taksit_yazi
{
width: 126px;
height: 31px;
float: left;
color: #000000;
font-size: 12px;
margin-left: 10px;
margin-top: 2px;
}
.urun_hakkinda_blok
{
width: 1518px;
height: 140.5px;
background-color: #f6f5f6;
}
.urun_hakkinda_yazi_blok
{
width: 1518px;
height: 46px;
padding-top: 50px;
text-align: center;
font-size: 25px;
color: #000;
font-weight: bold;
}
.urun_hakkinda_isim_blok
{
width: 708px;
height: 31.5px;
font-size: 15px;
color: #000000;
margin: auto;
}
.en_alt_urunler_blok
{
width: 1420px;
height: 400px;
margin-left: 50px;
}
.en_alt_urunler_ust_baslik
{
width: 1420px;
height: 39.5px;
color: #000000;
font-size: 30px;
font-weight: bold;
text-align: center;
margin-top: 40px;
}
.en_alt_urunler_dis_div
{
width: 1110px;
height: 360px;
margin: auto;
}
.en_alt_urunler
{
width: 265px;
height: 360px;
float: left;
margin-left: 5px;
}
.en_alt_urunler_sol_yon
{
width: 17px;
height: 250px;
background-image: url("../img/sol_yon_2.png");
background-position: center;
background-repeat: no-repeat;
float: left;
border-bottom: 1px solid #e1e1e1;
margin-top:4px;
}
.en_alt_urunler_sol_yon:hover
{
background-image: url("../img/sol_yon_2_hover.png");
}
.en_alt_urunler_resimler
{
float: left;
border-bottom: 1px solid #e1e1e1;
}
.en_alt_urunler_resim_alt_yazi
{
width: 265px;
height: 23px;
font-size: 14px;
margin-top: 17px;
margin-left: 5px;
text-align: center;
color: #000000;
}
.en_alt_urunler_fiyat
{
width: 80px;
height: 14.4;
font-size: 14px;
font-weight: bold;
color: #000000;
margin-left: 105px;
margin-top: 20px;
}
.en_alt_urunler_sag_yon
{
width: 17px;
height: 250px;
background-image: url("../img/sag_yon.png");
background-position: center;
background-repeat: no-repeat;
float: left;
margin-top: 4px;
margin-right:5px;
}
.en_alt_urunler_sag_yon:hover
{
background-image: url("../img/sag_yon_hover.png");
}
.footer_ana_blok
{
width: 100%;
height: 630px;
background-color: #181818;
}

.footer_logo
{
width: 40px;
height: 30px;
float: left;
background-image: url("../img/puma_logo_footer.png");
background-repeat: no-repeat;
margin-top: 100px;
margin-left: 50px;
}
.footer_bultene_kaydol
{
width: 352px;
height: 22px;
font-size: 14px;
float: right;
color: #FFFFFF;
margin-top: 90px;
margin-right: 54px;
}
.footer_arama_blok_en_dis_div{
height:68px;
width: 370px;
float: right;
margin-right: 35px;
}
.footer_arama_blok_dis_div{
height:65px;
width: 352px;
float: left;
}
.footer_arama_blok{
border: 1px solid #393939;
border-radius: 2px;
font-size: 14px;
width: 352px;
height: 44px;
margin-top: 10px;
}
.footer_arama_sol{
float: left;
padding-top: 4px;
padding-left: 4px;
}
.footer_arama_sag{
float: left;
}
.footer_arama_text{
border:0px;
height:34px;
width:340px;
color:#ffffe8;
font-size:13px; 
background-color: #181818;
float: right;
}
.footer_musteri_hizmetleri_blok
{
width: 475px;
height: 196px;
margin-left: 40px;
margin-top: 35px;
float: left;
}
.footer_musteri_hizmetleri_yazi
{
width: 250px;
height: 22px;
color: #FFFFFF;
font-size: 13px;
font-weight: 500;
float: left;
}
.footer_musteri_hizmetleri_alt_yazilar_dis_div
{
width: 222px;
height: 149px;
float: left;
margin-right: 15px;
}
.footer_musteri_hizmetleri_alt_yazilar
{
width: 222px;
height: 23px;
color: #818181;
font-size: 14px;
margin-top: 12px;
}
.footer_musteri_hizmetleri_alt_yazilar:hover
{
color: #FFFFFF;
}
.footer_musteri_hizmetleri_alt_yazilar_hizalama
{
width: 222px;
height: 23px;
color: #818181;
font-size: 14px;
margin-top: 2px;
}
.footer_musteri_hizmetleri_alt_yazilar_hizalama:hover
{
color: #FFFFFF;
}
.footer_puma_blok
{
width: 233px;
height: 101px;
margin-left: 10px;
margin-top: 35px;
float: left;
}
.footer_etbis_blok
{
width: 241px;
height: 196px;
margin-left: 5px;
margin-top: 35px;
float: left;
}
.footer_etbis_karekod
{
width: 233px;
height: 113px;
background-image: url("../img/karekod_100x107.png");
background-repeat: no-repeat;
margin-top: 35px;
}
.footer_uygulamalar_blok
{
width: 383px;
height: 64px;
float: right;
margin-top: 65px;
margin-right: 20px;
}
.footer_uygulamalar_facebook
{
width: 20px;
height: 20px;
float: left;
margin-top: 15px;
margin-left: 10px;
margin-right: 35px;
}
.footer_trac_blok
{
width: 383px;
height: 60px;
float: right;
margin-right: 20px;
}
.footer_trac_cerceve
{
width: 60px;
height: 60px;
border: 1px solid #393939;
border-radius: 15px;
float: left;
}
.footer_trac_logo
{
width: 50px;
height: 40px;
background-repeat: no-repeat;
background-image: url("../img/puma_logo_2_40x40.png");
margin-left: 10px;
margin-top: 5px;
}
.footer_trac_yazi
{
width: 20px;
height: 10px;
font-size: 9.5px;
color:#ffffff;
margin-left: 16px;
font-weight: bold;
}
.footer_antrenman_yazi
{
width: 139px;
height: 15px;
font-size: 11px;
color: #FFFFFF;
float: left;
font-weight: bold;
margin-left: 40px;
margin-top: 20px;
border-bottom: 2px solid #ae946d;
}
.footer_antrenman_yazi:hover
{
border-bottom-color: #FFFFFF;
}
.footer_en_alt_div_blok
{
width: 100%;
height: 110px;
border-top:1px solid #393939;
margin-top: 30px;
}
.footer_en_alt_div_sol_cerceve
{
width: 255px;
height: 47px;
border: 1px solid #393939;
margin-top: 30px;
margin-left: 40px;
float: left;
}
.footer_en_alt_div_turkiye_logo
{
width: 20px;
height: 20px;
background-image: url("../img/turkiye_logo.png");
background-repeat: no-repeat;
margin-left: 19px;
margin-top: 14px;
float: left;
}
.footer_en_alt_div_turkiye
{
width: 30px;
height: 20px;
color: #FFFFFF;
font-size: 11px;
font-weight: bold;
float: left;
margin-top: 17px;
margin-left: 16px;
}
.footer_en_alt_div_alt_yon
{
width: 14px;
height: 9px;
background-image: url("../img/footer_alt_yon.png");
background-repeat: no-repeat;
float: right;
margin-top: 20px;
margin-right: 11px;
}
.footer_en_alt_div_2020_puma_yazi
{
width: 200px;
height: 18px;
float: left;
color: #FFFFFF;
font-size: 14px;
margin-left: 460px;
margin-top: 45px;
}
.footer_en_alt_div_kullanim_kosullari
{
width: 116px;
height: 24px;
color: #818181;
font-size: 14px;
float: right;
margin-top: 47px;
margin-right: 37px;
}
.footer_en_alt_div_kullanim_kosullari:hover
{
color: #FFFFFF;
}







