body{
font-size:24px;
color:#F00;
font-family:Verdana, Geneva, sans-serif;
}
.div_1{
width:200px;
height:80px;
color:#000;
font-size:16px;
background-color:#CCC;
/*margin-top:50px;
margin-left:100px;
margin-bottom:20px;
margin-right:60px;*/
margin:25px;
}
.div_2{
width:100px;
height:60px;
background-color:#0F0;
margin-left:70px;
}



#yazi_2{}
#yazi_4{}